<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<p><%= link_to "Do you want to edit the article?", edit_article_path(@article) %></p>
<p><%= link_to "Back to the main page", articles_path %></p>
